<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}தமிழா</title>

    <meta name="author" content="அருண் குமார்">
    <meta name="description" content="கட்டற்ற மற்றும் திறந்த மூல மென்பொருட்கள்">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/vendor/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
  </head>
  <body>
    <div class="page row">
      <header class="span12">
        <nav class="navbar">
          <div id="logo" class="brand span2">
            <a href="http://thamizha.com"><img src="/assets/images/thamizha_logo.png" alt="Thamizha" /></a>
          </div>

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">முகப்பு</a></li>
              <li><a href="/about/">எங்களைப்பற்றி</a></li>
              <li><a href="/projects/">திட்டங்கள்</a></li>
              <li><a href="/community/">சமூகம்</a></li>
              <li><a href="/news/">செய்திகள்</a></li>
              <li><a href="/contact/">தொடர்புக்கு</a></li>
            </ul>
          </div>
        </nav>
      </header>

        <div class="content span8">
          {{ content }}
        </div><!-- /.content -->

        <div class="sidebar span4">
            <form action="http://groups.google.com/group/freetamilcomputing/boxsubscribe">
                <fieldset>
                <legend>சமூக குழுவில் இணைய</legend>
                    <label for="emailTxt">உங்களுடைய மின்னஞ்சல் முகவரியை உள்ளிடவும்</label>
                    <input type="text" class="input" placeholder="eg: பயனர்பெயர்@thamizha.com" name="email" id="emailTxt">
                <input type="submit" name="sub" value="மடலாடற் குழுவில் சேரவும்" class="btn">
                </fieldset>
            </form>
            <p class="note">(கண்டிப்பாக ஸ்பேம் மடல் வராது தடுப்போம்!)</p>
          <p><a href="http://groups.google.com/group/sample-group">இந்த குழுவை பார்க்கவும்</a></p>
          <div class="download">
            <a href="http://code.google.com/p/ekalappai/downloads/detail?name=eKalappai-3.1-build-27012013-installer.exe"><img src="/assets/images/download.png" alt="" /></a>
          </div>
        </div>	
      
      <footer class="span12">
        <p><a href="https://github.com/thamizha/thamizha.github.com#license">அளிப்புரிமம்</a> &copy; 2014 தமிழா குழு.</p>
      </footer>
    </div><!-- /.page -->

    <!-- <a href="http://github.com/thamizha"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/scripts/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/assets/scripts/vendor/bootstrap.min.js"></script>
    <script src="/assets/scripts/main.js"></script>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-294888-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
